body {
	font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	/*font-size:14px;*/
	font-size: large;
	color: #808080;
	background-color: #ffffff;
}
footer {
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #87CEFA;
	position: absolute;
}
#wrap {
	margin:0 auto;
}
#banner {
	top: 0px;
	margin: auto;
	height: 100px;
	width: 600px;
	position: relative; 
	background-image: url('/static/banner.png');
}

#main {
	top: 100px;
	margin: auto;
	position: relative; 
}

.centered {
	top: 50px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

#title {
	top: 50px;
	/*text-align: left;*/
	position: relative;
}

.textbox {
	border: 1px solid silver;
	border-radius: 5px;
}

#link {
/*	top: 50px;
	text-align: center;
	position: relative;*/
	height: 50px;	
}

.texter {
	display: none;
	border-left: white 30px soid;
}

a:link {
	color: #808080;
	text-decoration: none;
}
a:visited {
	color: #808080;
	text-decoration: none;
}
a:active {
	color: #808080;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}