html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size:14px;
	background-color: #ffffef;
}
/* disable text link colors */
a { color: inherit; }

/********************** #top_banner div contains elements comprising the banner /**********************/
#top_banner {
	background-image: url(/static/yelp_images/yelp_red_pixel.png);
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	position: absolute;
	z-index: 500;
}
/* keeps #top_banner div at the top & contents centerd */
#top_banner.stickTop {
	position: fixed;
	right: 0;
}

/* #wrap div contains following #banner_* elements, comprising the banner image */
#wrap{
	margin:0 auto;
	width: 952px;
	height: 80px;
}
/********************** start of banner elements **********************/
#banner_visualYelp {
	top: 0px;
	left: 0px;
	height: 80px;
	width: 217px;
	position: relative; 
	background-image: url(/static/yelp_images/banner1.png);
}
#banner_findText {
	top: -80px;
	left: 217px;
	height: 80px;
	width: 35px;
	line-height: 80px;
	position: relative; 
	background-image: url(/static/yelp_images/banner2.png);
}
#banner_termInputField {
	top: -160px;
	left: 252px;
	height: 80px;
	width: 288px;
	line-height: 80px;
	text-align: left;
	position: relative; 
	background-image: url(/static/yelp_images/banner3.png);
}
/* Yelp Category input box */
#term {
	padding-left: 2px;
	font-size:14px;
	color: #999999;
	border: none;
	outline-width: 0;
}
#banner_inputFieldDivider {
	top: -240px;
	left: 540px;
	height: 80px;
	width: 14px;
	position: relative; 
	background-image: url(/static/yelp_images/banner4.png);
}
#banner_nearText {
	top: -320px;
	left: 554px;
	height: 80px;
	width: 35px;
	line-height: 80px;
	position: relative; 
	background-image: url(/static/yelp_images/banner2.png);
}
#banner_locInputField {
	top: -400px;
	left: 589px;
	height: 80px;
	width: 286px;
	line-height: 80px;
	text-align: left;
	position: relative; 
	background-image: url(/static/yelp_images/banner5.png);
}
/* Yelp location input box */
#location {
	font-size:14px;
	color: #333333;
	border: none;
	padding-left: 3px;
	outline-width: 0;
	width: 100%;
}
#banner_inputFieldEnd {
	top: -480px;
	left: 875px;
	height: 80px;
	width: 77px;
	position: relative; 
	background-image: url(/static/yelp_images/banner7a.png);
}
/*::-webkit-input-placeholder {
    color:    #999999;
}
:-moz-placeholder {
    color:    #999999;
}
::-moz-placeholder {
    color:    #999999;
}
:-ms-input-placeholder {
    color:    #999999;
}
input type='text' {
    color:#000;
    background:#aaa;
    padding:3px;
    margin:5px;
    font-family:Arial;
    border:1px solid #666;
}*/
#banner_button {
	top: -538px;
	left: 885px;
	height: 36px;
	width: 50px;
	position: relative; 
}
/********************** end of banner elements **********************/

/********************** start of search results display **********************/
#search_results{
	top: 84px;
	white-space: nowrap;
	position: relative; 
}
/* business name, rating image, address & phone */
#buss_info{
	top: 2px;
	display: inline-block;
	margin-right: -100%;
	width: 100%;
	text-align: left;
	vertical-align: top;
	font-size: large;
	position: relative; 

	color: white;
    text-shadow:
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000,
    1px 1px #000;  
}
/* link to business page on Yelp.com */
.business_link {
	text-decoration: none;
}
/* Yelp's star rating image */
.rating_img {
	vertical-align: middle;
}
/********************** end of search results display **********************/


/********************** start of google map with business markers **********************/
#map {
	top: 84px;
	right: 0px;
	width: 226px;
	height: 226px;
	float: right;
	z-index: 200;
	position: absolute;
}
/* map stays top, right */
#map.stickTop {
	top: 0px;
	position: fixed;
}
#map.stickRight {
	right: 0px;
	position: fixed;
}
/********************** end of google map with business markers **********************/


/********************** start elements for page loading animation **********************/
#loading_overlay {
	background: #e9e9e9;
	display: none;
	position: absolute;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0.7;
}
#spinner_layer {
	z-index: 10;
}
#spinner_background {
    top:47%;
    left:47%;
	width: 80px;
	height: 80px;
	display: none;
	z-index: 10;
	position: fixed; 
}
#spinner {
	top:47%;
    left:47%;
	width: 80px;
	height: 80px;
	display: none;
	z-index: 100;
	position: fixed; 
}
/********************** end elements for page loading animation **********************/

#error_yelp {
	display: none;
}
