body {
	font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	font-size: large;
	background-color: #ffffff;
}
footer {
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #87CEFA;
	position: absolute;
}
#wrap {
	margin:0 auto;
}
#banner {
	top: 0px;
	margin: auto;
	height: 100px;
	width: 600px;
	position: relative; 
	background-image: url('banner.png');
}
#main {
	top: 150px;
	/*margin: auto;*/
	/*text-align: center;*/
	position: relative; 
}

.boxed {
	width: 651px;
	margin: 0 auto;
}
.textbox {
	border: 1px solid silver;
	border-radius: 5px;
}

#title {
	/*width: 532px;*/
	border: 1px solid gray;
}
.citation {
	font-size: small;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*#title {
	top: 10px;
	text-align: center;
	position: relative;
}*/

/*#links{
	top: 30px;
	position: relative; 
}

#link2 {
	top: 30px;
    position: relative; 
}*/
