{% extends "master.html" %}

{% block body %}

<!-- LANDING PAGE FOR ATITAN.NET -->
<footer>
    <div id="wrap">
        <div id="banner"></div>
    </div>
</footer> 

<div id="main">
	<div id="title"><em>My experiment in Web applications, Yelp/Facebook/Google API and Machine Learning</em></div>

	<div id=links>
		<p>For express purpose of preparing for coding interviews, scripting nature of Python appealed to me.  So I began coding practices in Python with stark minimalistic Sublime Text.

		<p>Then I discovered client code snippit on Yelp Developer's site for Yelp API.  This led to my displaying Yelp search results visually.  LINK

		<p>I wanted to perform analysis of Yelp's data in order to provide more targeted/useful results, as well as incorporating search data from Google and Facebook, but wanted to think it over.

		<p>Then I discovered Kaggle.com, and got on the Data Science/Machine Learning train.  

		<p>After learning on online and continous training of classifiers, I decied to implement visual search results, based on Yelp/Google/Facebook API, and enhanced with online and continuous machine learning.
	</div>

	<div>
		<br><em>Visual Yelp</em>
	</div>

	<div>
		<br><em>Machine Learning</em>
	</div>
		<br><a href='https://www.linkedin.com/in/gilkwak' target="_blank"><em>LinkedIn</em></a>
	<div>

<!-- displays various links passed by client python program -->
	<!-- link 1, link to "visual-yelp" -->
<!-- 	<div id="link1">
		<em>{{link_id_1}}</em>
	  	<a href={{link_url_1}} target="_blank"><em>{{link_id_1}}</em></a>
	</div> -->

	<!-- link 2 -->
<!-- 	<div id="link2">
	  	<a href={{link_url_2}} target="_blank"><em>{{link_id_2}}</em></a>
	</div>  -->
</div>

{% endblock %}