<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">

    <title>Page</title>

    <link rel="icon" href="/static/favicon.png?">

    <link type="text/css" rel="stylesheet"
    href="static/style_kd.css" />

</head>

<body>

    <footer>
        <div id="wrap">
            <a href="/kd"><div id="banner"></div></a>
        </div>
    </footer> 

    <div id="main">

        <div class="boxed">

            <div id="title">
              <img src="static/yelpLogo.png" style="vertical-align:middle" alt="Yelp" width="24" height="28">&nbsp;&nbsp;&nbsp;Yelp Photos<br/>

            </div>

<!--            <img src="static/yelp_photos_screenshot.jpeg" style="vertical-align:middle"  alt="Yelp Photos" width="532" height="359"><br/>-->
            <br/><img src="static/yelp-photos.jpeg" style="vertical-align:middle"  alt="Yelp Photos" width="651" height="362"><br/><br/>

            Yelp search results displayed as rows of user photos.  Implemented in Python with Flask, using non-blocking API requests and web-scraping.<br/><br/><br/><br/>

    <br/><br/><br/><br/><br/><br/>

</div>

</div>
</body>
</html>















