{% extends "master.html" %}

{% block body %}

<!-- LANDING PAGE FOR ATITAN.NET -->
<footer>
    <div id="wrap">
        <div id="banner"></div>
    </div>
</footer> 

<div id="main">
	<div class="centered">
<!-- <font color="#000000">
						<p>
						<p>Yelp Photos
						<p>
						<p>Coding Exercises
						<p>
						<p>LinkedIn</em></div>
</font> -->

	<!-- displays various links passed by client python program -->
		
	 	<div id="link">
	 		<p><p>
			<div class="textbox">
			<img src="static/yelpLogo.png" style="vertical-align:middle" alt="Yelp" width="24" height="28">&nbsp;&nbsp;&nbsp;
		  		<a href={{link_url_1}}>{{link_id_1}}</a>
		  	</div>
		</div>
		
	 	<div id="link">
	 		<p><p>
	 		<div class="textbox">
		  		<img src="/static/linkedinLogo.png" style="vertical-align:middle" alt="LinkedIn page" width="37" height="28">&nbsp;&nbsp;&nbsp;
		  		<a href={{link_url_2}}>{{link_id_2}}</a>
		  	</div>
		</div>

	 	<div id="link">
	 		<p><p>
	 		<div class="textbox">
	 		<img src="static/bitbucket.png" style="vertical-align:middle" alt="Bitbucket" width="28" height="28">&nbsp;&nbsp;&nbsp;
		  		<a href={{link_url_3}}>{{link_id_3}}</a>
		  	</div>
		</div>

	</div>

</div>
{% endblock %}
