{% extends "master.html" %}

{% block body %}

<script language="JavaScript" type="text/javascript">
	<!-- Copyright 2007, Sandeep Gangadharan -->
    <!-- For more free scripts go to http://www.sivamdesign.com/scripts/ -->

    if (document.getElementById) {
     document.write('<style type="text/css">.texter {display:none; border-left:white 30px solid;} @media print {.texter {display:block;}}</style>') }

     var divNum = new Array("a1","a2","a3", "a4", "a5"); 
     function openClose(theID) {
         for(var i=0; i < divNum.length; i++) {
          if (divNum[i] == theID) {
           if (document.getElementById(divNum[i]).style.display == "block") { document.getElementById(divNum[i]).style.display = "none" }
               else { document.getElementById(divNum[i]).style.display = "block" }
           }
       else { document.getElementById(divNum[i]).style.display = "none"; }
   }
}

function openAll() {
 for(var i=0; i < divNum.length; i++) {
   document.getElementById(divNum[i]).style.display = "block";
}
}

function closeAll() {
 for(var i=0; i < divNum.length; i++) {
   document.getElementById(divNum[i]).style.display = "none";
}
}
    // -->
</script>

<!-- Highlights from LinkedIn page -->
<footer>
    <div id="wrap">
        <div id="banner"></div>
    </div>
</footer> 

<div id="main">

	<div class="centered">

	 	<div id="link">
	 		<p><p>
	 		<div class="textbox">
		  		<img src="/static/linkedinLogo.png" style="vertical-align:middle" alt="LinkedIn page" width="37" height="28">&nbsp;&nbsp;{{link_id_2}}
		  	</div>
		  	<a href={{link_url_2}}>{{link_url_2}}</a>
		</div>

<!-- 	 	<div id="link">
	 		<p><p>
	 		<div class="textbox">
		  		<img src="/static/linkedinLogo.png" style="vertical-align:middle" alt="LinkedIn page" width="37" height="28">&nbsp;&nbsp;&nbsp;
		  		{{link_id_2}}
		  	</div>
		  	<a href={{link_url_2}}>{{link_url_2}}</a>
		</div> -->
        
        <div id="link">
	 		<p>
			<div class="textbox">
			Research Scientist / Software Engineer, Symbotic, Wilmington, MA
		  	</div>
		  	<div  onClick="openClose('a1')" style="cursor:hand; cursor:pointer;">
		  		• Successfully led first phase of a crucial project for Symbotic.
		  	</div>
		</div>

		<div id="a1" align="left" class="texter">
			<B>"...in 2014, Symbotic began working with Target Corp. ...."</B><br>
		  	www.auvsi.org/blogs/auvsi-news/2016/09/21/symbotic-llc-offering-autonomous-technology-for-distribution-centers
		</div>


		<div id="link">
	 		<p>
			<div class="textbox">
				Software Engineer Intern, Co57, Cambridge, MA
			</div>
			<div  onClick="openClose('a2')" style="cursor:hand; cursor:pointer;">
		  		• Implemented prototype real-time object recognition.
		  	</div>
		</div>

		<div id="a2" align="left" class="texter">
            <img src="static/obj_recognition.png" alt="Object recognition">
        </div>


        <div id="link">
	 		<p>
			<div class="textbox">
				Technician/Software Engineer, MIT, Cambridge, MA
			</div>
			<div  onClick="openClose('a3')" style="cursor:hand; cursor:pointer;">
		  		• Implemented prototype real-time object recognition.
		  	</div>
		</div>

		<div id="a3" align="left" class="texter">
            <B>"Protein design as an optimization problem"</B><br>
            [this] class of problems is NP-hard, in practice many instances ... can be solved exactly or optimized satisfactorily through heuristic methods.
            https://en.wikipedia.org/wiki/
        </div>

        <div id="link">
	 		<p>
			<div class="textbox">
				Technician/Software Engineer, MIT, Cambridge, MA
			</div>
			<div  onClick="openClose('a4')" style="cursor:hand; cursor:pointer;">
		  		• Implemented prototype real-time object recognition.
		  	</div>
		</div>

		<div id="a4" align="left" class="texter">
            <B>"Protein design as an optimization problem"</B><br>
            [this] class of problems is NP-hard, in practice many instances ... can be solved exactly or optimized satisfactorily through heuristic methods.
            https://en.wikipedia.org/wiki/
        </div>

<!-- 			<div onClick="openClose('a1')" style="cursor:hand; cursor:pointer;">Research Scientist / Software Engineer, Symbotic, Wilmington, MA<br/>

            • Appointed and successfully led first phase of a crucial project for Symbotic.&nbsp;<font style="color:blue"><<</font><br/><br/>
            </div>

            <div id="a1" align="left" class="texter">
                <div class="textbox">
                <B>"...in 2014, Symbotic began working with Target Corp. ...."</B><br/>
                    <span class="citation">
                    www.auvsi.org/blogs/auvsi-news/2016/09/21/symbotic-llc-offering-autonomous-technology-for-distribution-centers
                    </span>
                </div>
                <br/>
            </div> -->
    </div>
</div>
{% endblock %}
