<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">

    <!-- "What's 108.111.118.101 got to do with it?" -->
    <title>{% block title %}&nbsp; - atitan.net{% endblock %}</title>

    <link rel="icon" href="/static/favicon.png?">

    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
                            filename='style.css')}}" />
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/jquery-1.12.4.min.js')}}" >
    </script>


    <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    </head>

    <body>

    {% block body %}{% endblock %}

    </body>
</html>

