<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}Visual Yelp{% endblock %}</title>

    <link rel="icon" href="/static/yelp_images/yelp_favicon.ico">

    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
                            filename='style_yelp.css')}}" />
                    
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/jquery-1.12.4.min.js')}}" >
    </script>


    <!-- for two input fields, clears default values & replaces default values if input fields are empty -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/util-functions.js')}}" >
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/clear-default-text.js')}}" >
    </script>


    <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>

<body>

{% block body %}{% endblock %}

</body>
</html>

