<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <title>Testing</title>
                    
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/jquery-1.12.4.min.js')}}" >
    </script>

</head>

<body>


hello



<!-- <a href="http://www.javascript.internet.com/"
  onclick="newWin(this.href,800,500,'yes','no');
  return false;">Just a link</a> -->

<script type="text/javascript" src="/static/js/yelp_scripts.js" ></script>
<script>
    initGil();
    test1();
</script>


</body>
</html>