<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <title>Visual Yelp</title>

    <link rel="icon" href="/static/yelp_images/yelp_favicon.ico">

    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='style_yelp.css')}}" />
                    
    <script type="text/javascript"
            src="{{ url_for('static',filename='js/jquery-1.12.4.min.js')}}" >
    </script>

    <!-- for two input fields, clears default values & replaces default values if input fields are empty -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/util-functions.js')}}" >
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/clear-default-text.js')}}" >
    </script>

    <script type="text/javascript" src="/static/js/yelp_scripts.js" ></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa9A9YFxUIB66O_f65QncKK_m2aTWwvUk&callback=initMap" async></script>

</head>

<body>

<!-- Yelp Banner, including search fields -->
<footer id="top_banner">
    <div id="wrap">
        <div id="banner_visualYelp"></div>
        <div id="banner_findText"><b>Find</b></div>

        <!-- input field for search term/category -->
        <div id="banner_termInputField"><input type='text' id='term' 
                                               class='cleardefault' value='' ></div>

        <div id="banner_inputFieldDivider"></div>
        <div id="banner_nearText"><b>Near</b></div>

        <!-- input field for region/location to search -->
        <div id="banner_locInputField"><input type='text' id='location' 
                                              class='cleardefault' value=''></div>
                                              <!-- value='address, neighborhood, city, state or zip'></div> -->
                              
        <div id="banner_inputFieldEnd"></div>

        <!-- search button -->
        <div id="banner_button">
            <a href="#" onclick="searchYelp()">
                <img src="/static/yelp_images/banner8a.png" 
                     onmouseover = "this.src = '/static/yelp_images/banner8b.png'" 
                     onmouseout = "this.src = '/static/yelp_images/banner8a.png'">
                </img>
            </a>
        </div>

    </div>

</footer> 

<!-- Google map displayed here -->
<div id="map"></div>

<!-- photos from searched business displayed here, each business per row -->
<div id="search_results"></div>

<!-- loading progress animation -->
<div id="loading_overlay"></div>
<div id="spinner_layer">
    <img id="spinner_background" src="/static/yelp_images/gray_rounded_square.png"></img>
    <img id="spinner" src="/static/yelp_images/warm_grey_spinner.gif" alt="loading..."></img>
</div>

<div id="error_yelp">Oops!  There was a problem accessing data from Yelp.  
Please check your inputs and retry.</div>

<!-- ajax call to retrieve urls for all user photos, rating, address, coordinate of each business -->
<script type="text/javascript">

    // save default location to javascript cache
    set_defaults( {{term|tojson}}, {{loc|tojson}} );
    
    // display search results using default term/category
    // and ip-based geolocation 
    searchYelp();
</script>

</body>
</html>
